html { 
  scroll-padding-top: 170px;
}

body {
  background-color: #89CE94;
  color: #311E10;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  margin: 0 24px;
}

header { 
  position: fixed;
  background-color: #89CE94;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #12664F;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #307473;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  flex-wrap: wrap;
}

nav ul li {
  padding-left: 20px;
}

section {
  margin-top: 20px;
  padding-bottom: 30px;
}

#about {
  padding-top: 120px;
}

#experience li {
  background-color: #89CE94;
  border-radius: 10px;
}

#experience div {
  display: flex;
}

#skills-list li {
  background-color: #89CE94;
  list-style-type: none;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #820263;
  border-radius: 10px;
  font-size: 20px;
}

.messages-list li {
  border: 2px solid #820263;
}

#leave_message label {
  font-size: 20px;
  color: #89CE94;
}

#leave_message input,
#leave_message textarea {
  margin-top: 4px;
  margin-bottom: 15px;
  border: 2px solid #F194B4;
  padding: 10px;
}

#leave_message input:focus,
#leave_message textarea:focus {
  outline: 1.5px solid #F194B4;
  border-radius: 1.5px;
}

form {
  background-color: papayawhip;
  border: 2px solid steelblue;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #7A82AB;
}

input {
  margin-bottom: 10px;
  width: 50%;
  font-size: 18px;
  padding: 8px;
  border: 0px  sienna solid;
}

textarea {
  width: 50%;
  font-size: 18px;
  padding: 8px;
  border: 4px seashell solid;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

button {
  font-size: 18px;
  padding: 8px;
  width: 80px;
  border-radius: 10px;
  background-color: bisque;
}

footer {
  background-color: #F194B4;
  text-align: center;
  padding: 1px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  input {
      width: 100%;
  }
  
  textarea {
      width: 100%;
  }
}